<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vampyr.demo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".Activities.StartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.windowFullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.RegistrationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.windowFullscreen" />
        <activity
            android:name=".Activities.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.windowFullscreen" />
        <activity
            android:name=".Activities.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.PostsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.UsersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.VerificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.EditUsernameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.BioActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.PhoneLoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.CommentsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.FollowersActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>